.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  padding: 10px;
}

.big-list {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

.small-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.draggable-small-list {
  cursor: move; /* Indicates the item can be moved */
  margin: 10px; /* Provide some space around each list for better visibility */
}
